.footerButton {
  text-transform: none !important;
  color: white !important;
  font-size: 14px !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.footerOutlineButton {
  text-transform: none !important;
  color: white !important;
  font-size: 14px !important;
  text-align: center !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
}
.line {
  border-bottom: 1px solid #16b1e1 !important;
  width: 100%;
  margin: 40px 0px;
}
.upButton {
  cursor: pointer !important;
}
